<h2>All Recipes</h2>


<% @recipes.each do |recipe| %>
  <div>
    <ul>
      <li><h3><%= link_to recipe.name, recipe_path(recipe) %></h3></li>
      <li><%= recipe.difficulty_level %></li>
      <li><%= recipe.prep_time %></li>
      <li><%= recipe.description %></li>
    <ul>
  </div>
<% end %>
