<h1><%=@user.name%></h1>
<p><%@user.location%></p>
<p><%@user.about%></p>

<%@recipes.each do |recipe|%>
  <%=link_to recipe.name + "by "+ recipe.creator recipe_path%>
  <p>added <%= time_ago_in_words(recipe.created_at) %> ago.</p>
<%end%>
