/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.recipe_show, .center {
	height: 200px;
	width: 300px;
	margin: 0 auto;
	padding-top: 15px;
}

.recipe_name {
	text-align: center;
}

.menu_head {
	text-align: center;
	padding-top: 20px;
	font-family: cursive;
	font-size: 45px;
}

.title {
	font-family: cursive;
	font-size: 65px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 29px;
}

.subtitle {
	font-family: Verdana;
	font-size: 20px;
	text-align: center;
}

.appetizers {
	float: left;
	width: 25%
}

.soup_and_salads{
	float: left;
	width: 25%
}

.main_course {
	float: left;
	width: 25%
}

.search-form{

}
.search-form input{
	padding:5px;
	height:30px;
	margin-top:9px;
}

.dessert{
	float: left;
	width: 25%
}

.contain {
	padding: 10px;
	padding-top: 50px;
	text-align: center;
}

.homepage_categories {
	font-size: 30px;
	padding-bottom: 20px;
}

.text_format {
	letter-spacing: 1.2px;
}
