
<div class="center">
	<h1 class="title">CHOWSOURCE</h1>
	<h2 class="hours_locations">hours: 6am - 12pm, location: 123 Wall Street, New York</h2>

	<h2 class="full_menu_header">today's menu</h2>
</div>
<h3 class="homepage_categories">appetizers</h3>
<% @appetizers.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %><br>
<% end %>

<h3 class="homepage_categories">soup and salad</h3>
<% @soups_and_salads.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %><br>
<% end %>

<h3 class="homepage_categories">main course</h3>
<% @main_course.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %><br>
<% end %>

<h3 class="homepage_categories">dessert</h3><br>
<% @dessert.each do |recipe| %>
  <%= link_to recipe.name, recipe_path(recipe) %><br>
<% end %>
